<h1>Find some stuff!</h1>
<% @possessions.each do |possession| %>
<li><%= link_to possession.name, possession_path(possession) %> | <%= link_to possession.user.name, user_path(possession.user) %></li>
<% end %>

